{% extends "base.html" %}
{% block content %}
    <h1>Weather Report</h1>
    <!-- Jinja Syntax : -->
    <h2>Sarıyer: {{ Sariyer }}</h2>
    <br />
    <h2>Beykoz: {{ Beykoz }}</h2>
    <br />
    <h2>Fatih: {{ Fatih.3 }}</h2>
    <br />
    <ol type="A">
      {% for item in Fatih %}
        {% if item < 6 %}
          <h2>Fatih too cold</h2>
        {% else %}
          <li>
            <p>Fatih : {{ item }}</p>
          </li>
        {% endif %}
      {% endfor %}
    </ol>
    <br />

    <br />
    {% if userPremium %}
      <ul>
        {% for x, y in Basaksehir.items %}
          <h2>Başakşehir ->{{ x }} : {{ y }}</h2>
        {% endfor %}
      </ul>
    {% endif %}

    <br />
    <h2>{{ test|upper }}</h2>
    <br />
    <!--h2><a href="{% url 'templateApp:index' %}">Selam</a> Dünya</h2-->
    {% endblock %}